/*-- scss:defaults --*/
$font-family-sans-serif: "IBM Plex Sans", "IBM Plex Sans JP", system-ui, sans-serif !default;
$headings-font-family: "IBM Plex Serif", "Noto Serif JP", serif !default;
$headings-font-weight: 600 !default;
$font-family-monospace: "IBM Plex Mono", ui-monospace, monospace !default;
